<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>

<% @tweets.each do |e| %>
        <p id="message_padding">
            <%= e.message %>
            <%# ((Time.current - e.tdate)/60).to_i 分 %>
            <% if current_user %>
                <%= link_to '削除', tweet_path(e), data: { "turbo_method": :delete } %>
            
                <% if e.liked?(current_user) %>
                    
                    <%= link_to 'いいね削除', like_path(e), data: { "turbo_method": :delete } %>
                    
                <% else %>
                    
                    <%= link_to 'いいね', likes_path(tweet_id: e.id), data: { "turbo-method": :post } %>
                    
                <% end %>
            <% end %>

        </p>
<% end %>
<% if current_user %>
    <%= link_to '新規追加', new_tweet_path %>
<% end %>
<p> <br> </p>

<% if current_user %>
    <%= link_to 'ログアウト', top_logout_path %>
<% else %>
    <%= link_to 'ログイン', top_main_path %>
<% end %>

<%= link_to 'ユーザー一覧', users_path %>
